<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= image_tag customer.image, class: "card-img" if customer.image.attached? %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= customer.full_name %></h5>
        <p class="card-text">Email: <%= customer.email_address.presence || "N/A" %></p>
        <p class="card-text">Phone: <%= customer.phone_number %></p>
        <p class="card-text"><small class="text-muted">Notes: <%= customer.notes %></small></p>
      </div>
    </div>
  </div>
</div>
