<div class="container">
  <div class="row">
  <% @customers.each do |customer| %>
      <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4"> 
      
        <div class="card">
          <div class="card-header">
            <%= image_tag customer.image, class: "card-img-top" if customer.image.attached? %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= customer.full_name %></h5>
            <p class="card-text">Email: <%= customer.email_address.presence || "N/A" %></p>
            <p class="card-text">Phone: <%= customer.phone_number %></p>
            <p class="card-text"><small class="text-muted">Notes: <%= customer.notes %></small></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
